{{ define "main" }}
<article class="article">
  <div class="banner">
    <header class="banner__header">
      <div class="banner__meta">
        <a href={{ absURL .Section }}>{{ title .Section }}</a>
      </div>
      <h1 class="banner__title">{{ .Title }}</h1>
      <p class="banner__description">{{ .Summary }}</p>
      {{ with .Params.Contributions }}
        <ul class="list--tags">
          {{ range . }}<li>{{ . }}</li>{{ end }}
        </ul>
      {{ end }}
      {{ if .Params.ExternalURL }}
      <div class="banner__meta">
        Permalink: <a href={{ .Params.ExternalURL }}>{{ .Params.Client }}</a>
      </div>
      {{ end }}
    </header>
    {{ with $img := (.Resources.GetMatch "banner") }}
      <figure class="banner__figure">
        {{ partial "banner-image.html" $img }}
      </figure>
    {{ end }}
  </div>

  <section class="article__content">
    {{ .Content }}
  </section>

  {{ with $related := .Site.RegularPages.Related . }}
    <section class="article__content">
      <h3>Related</h3>
      <ul>
        {{ range first 3 $related }}
        <li><a href={{ .Permalink }}>{{ .Title }}</a></li>
        {{ end }}
      </ul>
    </section>
  {{ end }}
</article>
{{ end }}