{{ define "main" }}
<div class="homepage">
  <section class="banner" id="intro">
    <header class="banner__header">
      <h1 class="banner__title--xl">{{ .Title }}</h1>
      <div class="banner__description">
        {{ .Summary }}
      </div>
      <ul class="list--row--left">
        <li><a href="mailto:michaeldavidmorton@gmail.com">Email</a></li>
        <li><a href="https://github.com/mdavidmorton/">Github</a></li>
        <li><a href="https://www.linkedin.com/in/mdavidmorton/">LinkedIn</a></li>
      </ul>
    </header>
    {{ with $img := (.Resources.GetMatch "banner") }}
      <figure class="banner__figure">
        {{ partial "banner-image.html" $img }}
      </figure>
    {{ end }}
  </section>

  <section class="homepage__content" id="about">
    {{ .Content }}
  </section>
</div>
{{ end }}