/* _banner.css */

@mixin stack .banner;
@mixin stack .banner__header;

.banner__title,
.banner__title--xl {
  font-size: var(--font-size--h2);
}

.banner__meta {
  font-size: var(--font-size--small);
}

.banner__figure {
  margin-left: calc(-1 * var(--gutter));
  margin-right: calc(-1 * var(--gutter));
  max-width: calc(100% + var(--gutter) + var(--gutter));
}

.banner__figure img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100vw;
}

.banner + .banner {
  margin-top: var(--grid-gap);
  padding-top: var(--grid-gap);
  position: relative;
}

.banner + .banner::before {
  border: var(--border);
  content: "";
  height: 1px;
  left: 35%;
  top: calc(var(--gutter) * 0.25);
  position: absolute;
  width: 30%;
}

@media (min-width: 900px) {
  .banner__figure {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }

  .banner__figure img {
    width: 100%;
  }

  @supports (display: grid) {
    .banner {
      border: var(--border);
      display: grid;
      grid-column-gap: var(--grid-gap);
      grid-template-columns: 1fr 2fr;
      grid-template-rows: auto;
      padding-left: var(--gutter);
    }

    .banner + .banner {
      padding-top: 0;
    }

    .banner + .banner::before {
      display: none;
    }

    .banner__header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: var(--gutter);
      padding-top: var(--gutter);
    }

    .banner__figure {
      margin: 0;
    }

    .banner__title--xl {
      font-size: var(--font-size--h1);
    }
  }
}

@media (min-width: 1280px) {
  .banner__title {
    font-size: var(--font-size--h1);
  }

  .banner__title--xl {
    font-size: 3rem;
  }

  @supports (display: grid) {
    .banner {
      padding-left: var(--grid-gap);
    }

    .banner__header > :nth-child(2),
    .banner__header > :last-child {
      margin-top: 2rem;
    }
  }
}
