/* _footer.css */

.site__footer {
  border-top: var(--border);
  padding-bottom: var(--gutter);
  padding-top: var(--gutter);
}

@media (min-width: 432px) {
  .site__footer > * {
    justify-content: center;
    text-align: center;
  }
}

@mixin stack .site__footer;
