/* _utilities.css */

.list--nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list--row,
.list--row--footer {
  display: flex;
  list-style-type: none;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.list--row--footer {
  flex-wrap: wrap;
}

.list--tags {
  align-items: space-between;
  display: flex;
  font-size: var(--font-size--small);
  flex-wrap: wrap;
  list-style-type: none;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.list--tags > li {
  border: var(--border);
  border-radius: var(--border-radius);
  line-height: 1;
  margin-right: var(--gutter);
  margin-bottom: 4px;
  margin-top: 4px;
  padding: 4px;
}

/* Put here to avoid Stylelint errors before compiling production */
.list--row--footer > li {
  margin-right: var(--gutter);
}

.list--nav > li + li {
  margin-left: var(--gutter);
}

.list--row > li + li {
  margin-left: var(--gutter);
}

.list--row--footer > :last-child {
  margin-right: 0;
}

.list--tags > li:last-of-type {
  margin-right: 0;
}
