/* _nav.css */

@mixin stack .site__header;

.site__header {
  border-bottom: var(--border);
  line-height: 1;
  padding-bottom: var(--gutter);
  padding-top: var(--gutter);
}

.site__title {
  font-size: 1rem;
  text-decoration: none;
}

.site__nav {
  font-size: var(--font-size--small);
}

.site__nav a {
  color: var(--gray);
  text-decoration: none;
}

.site__nav a:hover {
  color: var(--blue);
  text-decoration: underline;
}

@media (min-width: 432px) {
  .site__header {
    display: flex;
    padding-bottom: calc(var(--gutter) * 0.75);
    padding-top: calc(var(--gutter) * 0.75);
    justify-content: space-between;
  }

  .site__nav {
    margin: 0;
  }

  .site__title {
    font-size: var(--font-size--small);
  }
}
